[package]
name = "svf_filter"
version = "0.1.0"
authors = ["Fredemus <frederik.halkjaer1@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "svf_gui"
crate-type = ["cdylib"]
[[bin]]
name = "svf_gui_bin"
path = "src/bin.rs"
[dependencies]
vst = { git = "https://github.com/rust-dsp/rust-vst" }
# baseview = { git = "https://github.com/RustAudio/baseview.git", rev = "d399c1275522ae75f5a82caadd904df2685c8660" }
baseview = { git = "https://github.com/RustAudio/baseview.git", rev = "f6e99e9aa6f5aeb6b721cb05e4d882a51d995909"} # newest
vizia = {git = "https://github.com/geom3trik/VIZIA", branch = "main", features = ["baseview"], default-features = false}

raw-window-handle = "0.3"
num = "0.4.0"
packed_simd = { version = "0.3.6", package = "packed_simd_2" }
hound = "3.4.0"
rand = "0.8.4"